body{
    margin: 0;
}

#mainGrid{
    display: grid;
    max-width:100vw;
    min-height: 100vh;
    grid-template-rows: repeat(4,auto);
    grid-template-columns: 25% 1fr;
    grid-template-areas: 
    "header header "
    "sidebar main"
    "sidebar main"
    "footer footer";
}


header{
    grid-area: header;
    background-color: blue;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.main{ 
    width: 100%;
    height: 100%;
    grid-area: main;
    background-color: yellow;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;


}
footer{
    grid-area: footer;
    background-color: green;
}
.sidebar{
    grid-area: sidebar;
    background-color: red;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
}


.animalCard{
    width: 30%;
    height: 30%;
    display: flex;
    flex-direction: column;
    border: 1px solid;
    overflow: auto;
}


.animalCard img{
    width: 30%;
}